page-paciente-preview {
  .btn-voltar {
    margin-top: 20px;
  }

  .btn-historico {
    background-color: #fb8c00;
  }

  h2 {
    padding-top: 30px;
    margin-top: 150px;
    display: block;
    width: 100%;
    text-align: left;
    font-size: 2rem !important;
  }
}
