page-lista-usuarios {
  .btn-voltar {
    margin-top: 20px;
  }

  h2 {
    padding-top: 30px;
    margin-top: 150px;
    display: block;
    width: 100%;
    text-align: left;
    font-size: 2rem !important;
  }

  .btn-nova-busca {
    background-color: purple;
  }

  .btn-editar {
    background-color: orange;
  }
}
