page-formulario {

  h2 {
    padding-top: 30px;
    margin-top: 150px;
    display: block;
    width: 100%;
    text-align: left;
    font-size: 2rem !important;
  }

  ion-item {
    h2 {
      text-align: left;
    }
  }

  ion-list {
    padding-top: 10px;
  }

  ion-grid,
  ion-row,
  ion-col {
    padding: 0 !important;
  }
}

.botao-anterior {
  margin-right: 5px;
}

.botao-proximo {
  margin-left: 5px;
}
