<ion-content padding>
  <ion-list>
    <ion-item>
      <h2>
        <ion-icon name="people"></ion-icon> Formulário do Paciente
      </h2>
      <p>{{ paciente?.nome }}</p>
    </ion-item>
  </ion-list>

  <ion-list *ngIf="step == 1">
    <ion-item>
      <ion-label stacked>Pressão arterial</ion-label>
      <ion-input type="tel" pattern="[0-9]*" [readonly]="!isNovo" (keyup)="keyUpPressaoArterial()" [(ngModel)]="formulario.pressaoArterialString"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label stacked>Frequência Cardíaca</ion-label>
      <ion-input type="tel" pattern="[0-9]*" [readonly]="!isNovo" (keyup)="keyUpFrequenciaCardiaca()" [(ngModel)]="formulario.frequenciaCardiacaString"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label stacked>Frequência Respiratória</ion-label>
      <ion-input type="tel" pattern="[0-9]*" [readonly]="!isNovo" (keyup)="keyUpFrequenciaRespiratoria()" [(ngModel)]="formulario.frequenciaRespiratoriaString"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label stacked>Temperatura</ion-label>
      <ion-input type="tel" pattern="[0-9]*" [readonly]="!isNovo" (keyup)="keyUpTemperatura()" [(ngModel)]="formulario.temperaturaString"></ion-input>
    </ion-item>
  </ion-list>

  <ion-list *ngIf="step == 2">
    <ion-item>
      <ion-label stacked>Ausculta Cardíaca</ion-label>
      <ion-textarea [readonly]="!isNovo" [(ngModel)]="formulario.auscultaCardiaca"></ion-textarea>
    </ion-item>

    <ion-item>
      <ion-label stacked>Ausculta Pulmonar</ion-label>
      <ion-textarea [readonly]="!isNovo" [(ngModel)]="formulario.auscultaPulmonar"></ion-textarea>
    </ion-item>
  </ion-list>

  <ion-list *ngIf="step == 3">
    <ion-item>
      <ion-label stacked>Palpação</ion-label>
      <ion-textarea [readonly]="!isNovo" [(ngModel)]="formulario.exameFisicoPalpacao"></ion-textarea>
    </ion-item>

    <ion-item>
      <ion-label stacked>Inspeção</ion-label>
      <ion-textarea [readonly]="!isNovo" [(ngModel)]="formulario.exameFisicoInspecao"></ion-textarea>
    </ion-item>

    <ion-item>
      <ion-label stacked>Perimetria</ion-label>
      <ion-textarea [readonly]="!isNovo" [(ngModel)]="formulario.exameFisicoPerimetria"></ion-textarea>
    </ion-item>

    <ion-item>
      <ion-label stacked>Testes Especiais</ion-label>
      <ion-textarea [readonly]="!isNovo" [(ngModel)]="formulario.exameFisicoTestesEspeciais"></ion-textarea>
    </ion-item>

    <ion-item>
      <ion-label stacked>Goniometria</ion-label>
      <ion-textarea [readonly]="!isNovo" [(ngModel)]="formulario.exameFisicoGoniometria"></ion-textarea>
    </ion-item>
  </ion-list>

  <ion-list *ngIf="step == 4">
    <ion-item>
      <ion-label stacked>Exames complementares</ion-label>
      <ion-textarea [readonly]="!isNovo" [(ngModel)]="formulario.examesComplementares"></ion-textarea>
    </ion-item>

    <ion-item>
      <ion-label stacked>Medicação</ion-label>
      <ion-textarea [readonly]="!isNovo" [(ngModel)]="formulario.medicacao"></ion-textarea>
    </ion-item>

    <ion-item>
      <ion-label stacked>Plano de tratamento</ion-label>
      <ion-textarea [readonly]="!isNovo" [(ngModel)]="formulario.planoDeTratamento"></ion-textarea>
    </ion-item>

    <ion-item>
      <ion-label stacked>Hipótese diagnóstica</ion-label>
      <ion-textarea [readonly]="!isNovo" [(ngModel)]="formulario.hipoteseDiagnostica"></ion-textarea>
    </ion-item>

    <ion-item>
      <ion-label stacked>Diagnóstico</ion-label>
      <ion-textarea [readonly]="!isNovo" [(ngModel)]="formulario.diagnostico"></ion-textarea>
    </ion-item>
  </ion-list>

  <ion-grid>
    <ion-row>
      <ion-col class="botao-anterior">
        <button ion-button item-start block *ngIf="step > 1" (click)="anterior()">
          <ion-icon name="arrow-round-back" slot="start"></ion-icon>
          Anterior
        </button>
      </ion-col>
      <ion-col class="botao-proximo">
        <button ion-button item-end block *ngIf="step < maxSteps" (click)="avancar()">
          <ion-icon name="arrow-round-forward" slot="end"></ion-icon>
          Próximo
        </button>
      </ion-col>
    </ion-row>
  </ion-grid>

  <button ion-button block color="danger" item-end icon-start (click)="voltar()" class="btn-voltar">
    <ion-icon name="arrow-round-back"></ion-icon>
    <span>Voltar</span>
  </button>

  <button ion-button block color="primary" item-end icon-start (click)="salvar()" class="btn-salvar" *ngIf="step == maxSteps && isNovo">
    <ion-icon name="save"></ion-icon>
    <span>Salvar</span>
  </button>
</ion-content>
